body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color:palegoldenrod;
}

#board {
    /* background-color: skyblue; */
    /* background-image: url("img/flappybertbg.png"); */
    background-image: url("img/kitchen.png");
}